.h1{
   background-color: #9BC9E3;
   font-size: 2rem;
    font-weight: bold;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

.Save{
    display: flex;
    font-size: 2rem;
    font-weight: bold;
}

.Wants,.Needs,.Savings {
    margin: 3%;
    background-color: #9BC9E3;
}

#img{
    max-width: 100%;
}

h3{
    font-weight: bolder;
}

th {
    background-color: #9BC9E3;
    text-align: left;
    font-size: larger;
}

#jobs {
    display: flex;
}
table{
    border-spacing: 0.8rem;
}
th:nth-child(even) {
    background-color: #D9D9D9 !important;
}
.careers{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
.jobTitle{
    text-align: center;
    flex-basis: 100%;
}

h2 {
    display: flex;
    justify-content: center;
    align-self: flex-start;
}

.labelinput {
    display: flex;
    justify-content: center;
    align-self: flex-start;
}